*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr--primary: rgba(8, 146, 8, 0.623);
    --pd--inline: 2.75rem;
    --spc--height: 1.125rem;
    --pd--line: 1.75rem;
}
img {
    max-width: 100%;
    display: block;
}

html {
    color-scheme: dark light;
}

html:focus-within {
    scroll-behavior: smooth;
}


h1, h2, h3, p {
    margin: 0;
}

body {
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: firebrick;
    padding-block: 1.75rem;
    font-weight: 400;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

li {
    display: inline;
    margin-inline: 5px;
}

.navigation__bar ul {
    margin-left: auto;
}

header {
    background-image: url("Images/workspace-g9bc14f952_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 148px;
    margin-bottom: var(--spc--height);
    padding-inline: var(--pd--inline);
}


article {
    display: grid;
    place-items: center;
    padding-block: var(--pd--line);

}
.my__profile {
    display: grid;
    place-items: center;
    background-color:  #171717;
    padding-inline: 10px;
    padding-block: 0 20px;
    width: 300px;
    text-align: center;
    border-radius: 50% 50% 5px 5px;
    
}

.my__picture {
    aspect-ratio: 1;
    border-radius: 50%;
    width: 250px;
    border: 8px solid rgba(8, 146, 8, 0.623);
    margin: 25px;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
}

.my__picture__width {
    position: relative;
    padding: 0;
    margin: 0;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
    
}
.my__picture__width::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 32px solid rgba(3, 94, 33, 0.212);
    border-radius: 50%;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 1s ease-in-out, transform .5s ease-in;
    
}

.my__picture__width:hover::before  {
    transform: scale(1.02);
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.name__atomz {
    font-weight: 900;
    font-size: 1.75rem;
    letter-spacing: 1.6;
}

.my__profile p {
    font-size: .75rem;
    font-weight: lighter;
}

.svg__icons {
    display: flex;
}

.svg__icons svg {
    margin: 15px 15px 5px 15px;
}

.wrapper {
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .08);
    padding: 10px;
    display: grid;
    place-items: center;
    margin-top: 20px;
    transition: box-shadow 0.7s ease-out ;
}

.wrapper:hover {
    box-shadow: 0 .25rem 1.1rem rgb(0 0 0 / .15);
}

.about__me {
    background-color:#1E1E1E;
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--pd--line) var(--pd--inline);
    gap: var(--pd--line);
}

.about__me > h1 {
    justify-self: center;
    font-weight: 900;
    font-size: 1.625rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
    position: relative;
}

.about__me__title span {
    display: inline-block;
    
}

.about__me > h1::after {
    content: ' ';
    background-color: var(--clr--primary);
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
}

.personal__details {
    display: flex;
    gap: 10px;
}

.personal__details > * {
    flex: 1;
}
.personal__details h2 {
    margin-bottom: 1.125rem;
    font-size: 1.5rem;
    font-weight: 100;
}

.details__aboutme {
    display: grid;
    grid-template-columns: 1fr 3fr;
    line-height: 1.5;
    gap: 0.0625rem;
}

.details__aboutme div:first-of-type {
    color: var(--clr--primary);
}

.details__aboutme h2 {
    grid-column: 1 / span 2;
}

.about__me svg {
    margin-inline: auto;
}

.download__cv {
    justify-self: center;
}

.my__interests svg {
    margin-inline: .3125rem;
    transition: transform 800ms ease, color 2s ease-in-out;
}

.my__interests svg:hover {
    transform: scale(1.2);
    color: var(--clr--primary);
}

.download__cv {
    padding: .75rem;
    transition: background-color 2.5s ease-in-out;
    border: 2px solid whitesmoke;
    border-radius: 1px;
    background-color: inherit;
}

.download__cv:hover {
    background-color: var(--clr--primary);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--pd--line) var(--pd--inline);
    gap: 10px;
    margin-bottom: var(--pd--inline);
    line-height: 1.7;
}

.footer h1 {
    grid-column: 1 / span 2;
    place-self: center;
    letter-spacing: 1;
    font-weight: 900;
    font-size: 1.75rem;
}

.footer h2 {
    font-weight: 100;
    font-size: 1.5rem;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: var(--pd--inline);
    font-size: 1rem;
}


@media (width < 50rem) {
    nav {
        display: flex;
        flex-wrap: nowrap;
        font-weight: 100;
        font-size: .55rem;
    }

    nav h1 {
        font-size: medium;
    }
    header {
        min-height: 78px;
    
    }

    footer {
        font-size: .55rem;
    }

    .my__interests svg {
        width: 1rem;
    }

    .details__aboutme p{
        font-size: 0.55em;

    }

}

@media (width < 29rem ){
    main {
        display: grid;
        grid-template-columns: 1f;
    }

    .personal__details {
        display: grid;
        grid-template-columns: 1fr; 
    }

    .my__interests svg {
        width: 1.85rem;
    }

    .details__aboutme p{
        font-size: 0.75em;

    }
}
